<!DOCTYPE html>
<html>
<head>
    <title>Country Population Bar Chart and Pie Chart</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <style>
        body {
            max-width: 1800px;
            margin: 0 auto;
        }        
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .chart{
            width: 100%;
            height: 500px;            
        }

        /* Media queries for adjusting chart container width on different screen sizes */
        @media only screen and (min-width: 768px) {
            .chart {
                width: 50%;
            }
        }
    </style>
</head>
<body>
    <h1>South East Asia Population </h1>
    <div id="charts-container" class="container">
        <div id="barChart" class="chart"></div>
        <div id="pieChart" class="chart"></div>
    </div>
    <div id="charts-container2" class="container">
        <div id="lineChart" class="chart"></div>
        <div id="rateChart" class="chart"></div>
    </div>        
    <script>
        var data = [
            {% for country in countries %}
                {
                    x: ["{{ country.name }}"],
                    y: [{{ country.population }}],
                    type: "bar",
                    name: "{{ country.name }}"
                },
            {% endfor %}
        ];

        var layout = {
            title: "Population by country in Bar Chart"
        };

        Plotly.newPlot("barChart", data, layout);

        var data2 = [{
            values: [
                {% for country in countries %}
                    {{ country.population }},
                {% endfor %}
            ],
            labels: [
                {% for country in countries %}
                    "{{ country.name }}",
                {% endfor %}
            ],
            type: 'pie'
        }];

        var layout2 = {
            title: "Population by country in Pie Chart"
        };

        Plotly.newPlot("pieChart", data2, layout2);

        var data3 = [
            {% for country in year_countries %}
                {
                    x: [{% for data in country.data %} {{ data.year }}, {% endfor %}],
                    y: [{% for data in country.data %} {{ data.population }}, {% endfor %}],
                    type: "line",
                    name: "{{ country.name }}"
                },
            {% endfor %}
        ];

        var layout3 = {
            title: "Population year on year (2020 t0 2021)",
            xaxis: {
                title: "Year"
            },
            yaxis: {
                title: "Population"
            }
        };

        Plotly.newPlot("lineChart", data3, layout3);

        var data4 = [
            {% for country in year_rate %}
                {
                    x: [{% for data in country.data %} {{ data.year }}, {% endfor %}],
                    y: [{% for data in country.data %} {{ data.rate }}, {% endfor %}],
                    type: "bar",
                    name: "{{ country.name }}"
                },
            {% endfor %}
        ];

        var layout4 = {
            title: "Population growth rate % (2020 t0 2021)",
            xaxis: {
                title: "Year"
            },
            yaxis: {
                title: "Population"
            }
        };

        Plotly.newPlot("rateChart", data4, layout4);         
    </script>
</body>
</html>
