<!DOCTYPE html>
<html>
<head>
    <style>
        .marker-box {
        background-color: #fff;
        border: 1px solid #000;
        padding: 5px;
        width: 80px;
        }
       
    </style>
    <title>South East Asian Currencies against US Dollar</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"  crossorigin="">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>
</head>
<body>
    <body>
        <div id="map" style="height: 1000px;"></div>
      </body>
    <script>
        var countries = {{ countries|tojson }};
        var map = L.map('map').setView({{ map_center|tojson }}, {{ zoom_level }});

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18
        }).addTo(map);

        for (var i = 0; i < countries.length; i++) {
            var country = countries[i];
            var valueStr = country.value.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + " " + country.currency +"<br/>";
            if (country.perc_change !== null) {
                valueStr += ' (' + (country.perc_change < 0 ? '↓ ' : country.perc_change > 0 ? '↑ ' : '') + Math.abs(country.perc_change).toFixed(2) + '%)';
            }
            var style = country.perc_change !== null && country.perc_change < 0 ? 'color:red' : '';
            var markerIcon = L.divIcon({
                className: 'custom-icon',
                html: '<div class="marker-box" style="' + style + '">' + valueStr + '</div>',
                iconAnchor: [10, 20]
            });
            var marker = L.marker(country.latlng, { icon: markerIcon }).addTo(map);
        }


    </script>
</body>
</html>
