<!DOCTYPE html>
<html>
<head>
    <title>nty information experimental playground</title>
    <style>
        body {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <p>
        This site is hosted on Google Appengine written in Python. To my limited knowledge, this could the cheapest way to host a web app on a world class infrastructure.
    </p>
    <p>
        <h2>Project directory</h2>
        <ul>
            <li><a href="/exchange-rates">South east asia currencies against 1 USD</a> (updated daily 8am UTC+8). Source of data : Google search</li>
            <li><a href="/country-chart">Population of South east asia</a> (Source of data : https://worldpopulationreview.com)</li>
        </ul>
    </p>
    <p>&copy; Ng Teng Yong {{current_year}}</p>
</body>
</html>
