<!DOCTYPE html>
<html>
<head>
    <title>nty information experimental playground</title>
    <style>
        body {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <p>
        This site is hosted on Google Appengine written in Python. To my limited knowledge, this could the cheapest way to host a web app on a world class infrastructure.
    </p>
    <p>
        <h2>Project directory</h2>
        <ul>
            <li><a href="/exchange-rates">Some of the currencies against 1 USD</a> (Source of data : Google search - updated 8am and 11pm GMT+8) </li>
            <li><a href="/population-chart">Population of South east asia</a> (Source of data : World Bank from 1970 to 2021)</li>
        </ul>
    </p>
    <p>&copy; Ng Teng Yong {{current_year}}</p>
</body>
</html>
